# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Results Files
*.dot
*.jpg
*.jpeg
*.csv
*.bmp

# Input Files
*.md
*TOPOLOGY*
*Enterprise*

# others
*.html
*.eps
build
Java Algorithms and Clients_files
backdir


